In [1]:
from data_split import *
from feature_engineering import *
from matrix_tools import *
from model import *
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [2]:
import numpy as np
import pandas as pd

In [41]:
df = pd.read_csv('../data/student/student-por.csv',sep=';')

In [44]:
encoder = OneHotEncoder(sparse_output=False)
split = RandomSplit()
log = LogTransformation()
PCA = PrincipalComponentAnalysis()
categorical_df = df.select_dtypes(include=['object'])

encoded_df = encoder.fit_transform(categorical_df)
encoded_df = pd.DataFrame(categorical_df, columns=encoder.get_feature_names_out())
df = df.drop(columns=categorical_df.columns)
df = pd.concat([df, encoded_df], axis=1)
df.head()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,...,activities_no,activities_yes,nursery_no,nursery_yes,higher_no,higher_yes,internet_no,internet_yes,romantic_no,romantic_yes
0,18,4,4,2,2,0,4,3,4,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17,1,1,1,2,0,5,3,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15,1,1,1,2,0,4,3,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15,4,2,1,3,0,3,2,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16,3,3,1,2,0,4,3,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN